<!--<header class='root'>
    <nav >
        <div class='headerContainer'>
            <div class='logo'>
                <img 
             
                src="assets/logo.png"/> 
            </div>
            <div class='headerItem'>
                <ul class="navigation">
                    <li>
                        <a>Make Payment</a>
                    </li>
                    <li>
                        <a>Our Payment Solutions</a>
                    </li>
                    <li>
                        <a>Why AllPaid</a>
                    </li>
                </ul>
                <div class="navigation">
                    <ul class="userProfile">
                        <li> <a>Mary Johnson</a></li>
                        <li><img 
                            src="assets/user_profile.png"/> </li>
                            <li><img 
                                src="assets/arrow_down.png"/> </li>
                    </ul>                   
                    <button> Logout</button>
                    <a>Help</a>
                </div>
            </div>
        </div>
    </nav>
</header>
-->
<header>
<div class="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand"> 
            <div class='logo'>
            <img src="assets/logo.png"/> 
        </div></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link"> Make Payment</a>
                <a href="#" class="nav-item nav-link">Our Payment Solutions</a>
                <a href="#" class="nav-item nav-link"> Why AllPaid</a> </div>
            <form class="form-inline">
                <div class="input-group">                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mary Johnson</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Inbox</a>
                            <a href="#" class="dropdown-item">Sent</a>
                            <a href="#" class="dropdown-item">Drafts</a>
                        </div>
                    </div>
                    <button>  Logout</button>
                   
                </div>
            </form>
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Help</a>
            </div>
        </div>
    </nav>
</div>
</header>