<header class='root'>
    <nav >
        <div class='headerContainer'>
            <div class='logo'>
                <img 
             
                src="assets/logo.png"/> 
            </div>
            <div class='headerItem'>
                <ul class="navigation">
                    <li>
                        <a>Make Payment</a>
                    </li>
                    <li>
                        <a>Our Payment Solutions</a>
                    </li>
                    <li>
                        <a>Why AllPaid</a>
                    </li>
                </ul>
                <div class="navigation">
                    <ul class="userProfile">
                        <li> <a>Mary Johnson</a></li>
                        <li><img 
                            src="assets/user_profile.png"/> </li>
                            <li><img 
                                src="assets/arrow_down.png"/> </li>
                    </ul>
                   
                    <button> Logout</button>
                    <a>Help</a>
                </div>
            </div>
        </div>
    </nav>
</header>