<footer class='footerContainer'>
    <div class="w-100">
    <div class="footer-logo">
        <img src="assets/Footerlogo.png"/>
    </div>
    <nav class="footerList">
        <ul>
            <li class="staticclass">help</li>
            <li>FAQ</li>
            <li>Contact Us</li>
        </ul>
        <ul>
            <li class="staticclass">Legal Information</li>
            <li>Privacy Notice</li>
            <li>Terms and Conditions</li>
        </ul>
        <ul>
            <li class="staticclass">AllPaid</li>
            <li>Who are we</li>
            <li>Careers</li>
        </ul>
        <ul>
            <li class="staticclass">Social</li>
            <li><img src="assets/linkedinicon.png"/></li>
            <li><img src="assets/facebookicon.png"/></li>
            <li><img src="assets/instaicon.png"/></li>
            <li><img src="assets/twittericon.png"/></li>
        </ul>
    </nav>
    </div>  
</footer>
