<footer class='footerContainer'>
    <div>
        <img src="assets/logosmall.png"/>
    </div>
    <nav class="footerList">
        <ul>
            <li class="staticclass">Help</li>
            <li>FAQ</li>
            <li>Contact Us</li>
        </ul>
        <ul>
            <li class="staticclass">Legal Information</li>
            <li>Privacy Notice</li>
            <li>Terms and Conditions</li>
        </ul>
        <ul>
            <li class="staticclass">AllPaid</li>
            <li>Who are we</li>
            <li>Careers</li>
        </ul>
        <ul>
            <li class="staticclass">Social</li>
            <li>Linkedin</li>
            <li>Facebook</li>
            <li>Instagram</li>
        </ul>
    </nav>
</footer>
